footer{position: relative;
    display: block;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;}

.pageNumbers {
    position: sticky;
    text-align: center;
    bottom: 0%;
    left: 20%;
    right: 0px;
    margin-bottom: 0px;
}