.pDisplay {
  font-family: nunito;
  font-weight: light;
  font-size: 22pt;
  text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.pHeader {
  font-family: nunito;
  font-weight: bold;
  font-size: 74pt;
  opacity: 85%;
}

.pTitle_main {
  font-family: nunito;
  font-weight: medium;
  font-size: 28pt;
}

.pTitle_secondary {
  font-family: nunito;
  font-weight: medium;
  font-size: 18pt;
}

.pHeadline {
  font-weight: normal;
  font-size: 20pt;
}

.pBody {
  font-family: Work Sans;
  font-weight: normal;
  font-size: 14pt;
  opacity: 80%;
}

.pCaption {
  font-family: maitree;
  font-weight: normal;
  font-size: 12pt;
}

.white {
  color: white !important;
}

.black {
  color: black !important;
  opacity: 100%;
}

.blackwashed {
  color: black !important;
  opacity: 80%;
}

.logo {
  font-family: josefin-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22pt;
}

.logo:hover { 
    color: black !important;
    text-decoration: none !important;
}
