
.main-title {
    position: fixed;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 40px;
    padding: 10px;
}