*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding:2rem;
}

button {
  font-family: 'Viga', sans-serif;
}

.logo {
  display: inline-block;
  font-family: 'Press Start 2P';
  font-size: 18pt;
}

.main-navigation__title {
  color: Black;
  margin-left: 1rem;
}
